@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background:
    radial-gradient(circle at top,
      #111827 0%,
      #050505 35%,
      #000000 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
